# Go
*.exe
*.exe~
*.dll
*.dylib
*.test
*.out
*.o
*.a
*.so
vendor/
go.work

# OS
Thumbs.db
.DS_Store

# Project
*.cert
*.key
*.log
bin/
logs/
log/

# Tools
.vscode/
.idea/
*.swp
.qoder/

# Generated
stats/
rtp_charts/
